.about {
  margin: 50px 200px 50px 200px;
  text-align: justify;
  text-justify: inter-word;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .about {
    margin: 50px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .about {
    margin: 50px;
  }
}
