.disclaimer {
  margin: 100px;

  p {
    text-align: justify;
    font-size: large;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .disclaimer {
    margin: 50px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .disclaimer {
    margin: 50px;
  }
}