.product {
  padding: 20px 50px;
  display: flex;
  flex-direction: space-around;

  .left {
    flex: 1;
    display: flex;

    .images {
      flex: 1;
      display: flex;
      flex-direction: column;

      img {
        width: 100px;
        cursor: pointer;
      }
    }

    .mainImg {
      flex: 5;

      img {
        width: 450px;
      }
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .oldPrice {
      font-size: 20px;
      color: grey;
      text-decoration: line-through;
    }

    .newPrice {
      font-size: 28px;
      font-weight: 500;
    }

    p {
      font-size: 18px;
      font-weight: 300;
      text-align: justify;
    }

    .quantity {
      display: flex;
      align-items: center;
      gap: 10px;

      button {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 18px;
        border: none;
      }
    }
    .add {
      width: 250px;
      padding: 10px;
      color: white;
      background-color: #2879fe;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      cursor: pointer;
      border: none;
      font-weight: 500;
    }

    .link {
      display: flex;
      gap: 20px;

      .item {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #2879fe;
        cursor: pointer;
        font-size: 14px;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: grey;
      font-size: 14px;
      margin-top: 30px;

      hr {
        width: 300px;
        border: 1px solid lightgrey;
        position: relative;
        right: 29%;
      }
    }
    hr{
      width: 100%;
      border: 1px solid lightgrey;
    }
  }
}
