.footer {
  border-top: 2px solid #7777;
  background-color: #f2f2f2;
  margin: 0px;

  .top {
    display: flex;
    justify-content: space-around;
    margin: 10px 150px 20px 150px;

    .item {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .link {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    margin: 30px 150px 0px 150px;

    .left {
      color: lightslategray;
    }

    img {
      width: 500px;
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .footer {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 100%;
    text-align: center;

    .top {
      display: flex;
      flex-direction: column;
      margin: 20px;
    }
    .bottom {
      display: flex;
      text-align: center;
      flex-direction: column;
      margin: 20px;
      gap: 10px;

      img {
        text-align: center;
        width: 250px;
      }
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .footer {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 100%;

    .top {
      display: flex;
      flex-direction: column;
      margin: 5px;
      text-align: center;

      .item {
        gap: 10px;
      }
    }
    .bottom {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 10px;

      img {
        width: 250px;
      }
    }
  }
}
