.privacy {
  margin: 100px;

  p {
    text-align: justify;
    font-size: large;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .privacy {
    margin: 20px;
    font-size: 15px;
    max-width: fit-content;


    p {
      font-size: 15px;
      max-width: fit-content;
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .privacy {
    margin: 20px;
    font-size: 15px;
    max-width: fit-content;

    p {
      font-size: 15px;
      font-size: inherit;
      max-width: fit-content;
    }
  }
}
