.cart {
  position: absolute;
  right: 20px;
  top: 100px;
  z-index: 999;
  background-color: white;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);

  h1 {
    margin-bottom: 30px;
    word-wrap: break-word;
    color: grey;
    font-weight: 400;
    font-size: 24px;
  }

  .item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    img {
      width: 80px;
      height: 100px;
      object-fit: cover;
    }
    .details {
      h1 {
        font-size: 18px;
        font-weight: 500;
      }

      .price {
        color: #2879fe;
      }
    }

    .delete {
        color: red;
        cursor: pointer;
    }
  }
  .total{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
  }

  button {
    width: 200px;
    padding: 10px;
    color: white;
    background-color: #2879fe;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    border: none;
    margin-bottom: 20px;
    font-weight: 500;
  }

  .reset{
    color: red;
    font-size: 12px;
    cursor: pointer;
  }
}
