.navbar {
  border-bottom: 2px solid #7777;
  background-color: #f2f2f2;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item {
      display: flex;
      align-items: center;
      font-size: 18px;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 25px;
    }

    .center {
      display: flex;
      flex-direction: column;
      margin: auto;
      text-align: center;

      img {
        width: 80px;
      }

      .images{
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 25px;

      .icons {
        display: flex;
        gap: 15px;
        color: #777;
        cursor: pointer;

        .cartIcon {
          position: relative;
          span {
            font-size: 12px;
            border-radius: 50%;
            color: white;
            position: relatives;
            width: 20px;
            height: 20px;
            background-color: #2879fe;
            position: absolute;
            right: -10px;
            top: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
