.top{
    display: flex;
    justify-content: space-between;
    margin: 100px 150px 20px 150px;

    .item{
        flex:1;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.bottom{
    display: flex;
    justify-content: space-between; 
    margin: 30px 150px 20px 150px;

    .left{
        color: lightslategray;
    }

    img{
        width: 500px;
    }

}