.footer {
  border-top: 2px solid #7777;
  background-color: #f2f2f2;

  .top {
    display: flex;
    justify-content: space-around;
    margin: 10px 150px 20px 150px;

    .item { 
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    margin: 30px 150px 0px 150px;

    .left {
      color: lightslategray;
    }

    img {
      width: 500px;
    }
  }
}
